*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore OS X Desktop Services store
.DS_Store
**/.DS_Store
.tddium*
**/*~

# intellij 
.idea
*.iml
*.ipr
*.iws
**/*.iml
out/
.classpath
**/.classpath
.project
**/.project
.settings/
**/.settings/

# Gradle
.gradle/
**/.gradle/
**/.gradletasknamecache
build/
**/build/
classes

# for python virtual env
.env/
